@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*khi co nho man hinh thi khong bi nat*/
.grip{
    max-width: 100%;
    margin: 0 auto;
}

body{
    background: #d0d6d6;
}

.resume{
    width: 800px;
    display: flex;
    margin: 50px auto;
    min-width: 280px;
}
.resume_left{
    width: 280px;
    background-color: #5396cc;
    flex: 1;
}

.resume_profile{
    width: 100%;
    height: 280px;
    /*margin-top: 40px;*/
}
.resume_profile img{
    width: 100%;
    height: 100%;
}
.resume_content{
    padding: 0 25px;
}
.font-size_L{
    font-size: 2rem;
    font-weight: 700;
    /*tat ca chữ được viết hoa*/
    text-transform: uppercase;
}
.font-size_M{
    font-size: 1.4rem;
    font-weight: 400;
}
.resume_title{
    line-height: 2.2rem;
}
.resume_left, .resume_item{
    padding: 15px 0;
    border-bottom: 2px solid #b1eaff;
}

.resume_left,.resume_item:last-child{
    border: none;
}
.resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume_left ul li:last-child{
    margin-bottom: 0;
}
.resume_content{
    color: white;
}
.resume_contact,
.resume_languages,
.resume_skills,
.resume_info{
    color: white;
}
.resume_icon{
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #5396cc;
    display: flex;
    border-radius: 50% 50%;
}

.resume_icon-contact{
    font-size: 1.6rem;
    margin: auto;
}
.data{
    margin-left: 10px;
}

.resume_item-list{
    padding-top: 10px;
}
.skill_name,
.language_name{
    font-size: 1.4rem;
    width: 35%;
}
.skill_progress,
.language_progress{
    width: 50%;
    height: 8px;
    margin: 0 5px;
    background-color: #ffffff;
    position: relative;
}

.skill_per,
.language_per{
    width: 15%;
}

.progress_value{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f3f25d;
}

   /*khung ben phai*/
.resume_right{
    width: 520px;
    background-color: #fff;
    padding:40px 15px 20px 15px;
    color: #5396cc;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-left: 2px solid #5396cc;
}
.rusume_right-item{
    border-bottom: 2px solid #5396cc;
    padding: 15px 0;
}
.resume_right-title{
    margin-bottom: 10px;
    margin-left: 20px;
}

.resume_education-list,
.resume_work-list,
/*.resume_hobby-list,*/
.resume_target-list{
    padding: 10px 0 10px 50px;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
}
.resume_date{
    font-weight: 500;
    padding-bottom: 5px;
}
.resume_hobby{
    padding: 15px 0;
    /*margin-bottom: 15px;*/
}

.resume_hobby-list{
    padding: 10px 0 0 50px;
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    font-size: 3rem;
    /*margin-top: 25px;*/
}

.work__name-company,
.work__name-position,
.education__name-uni{
    font-weight: 500;
    padding-bottom: 10px;
}
.resume_education-list:before,
.resume_work-list:before{
    content: "";
    position: absolute;
    top: 15px;
    left: 22px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #5396cc;
}

.resume_education-list:after,
.resume_work-list:after{
    content: "";
    position: absolute;
    top: 25px;
    left: 26px;
    width: 2px;
    height: 156px;
    background-color: #5396cc;
}
.hobby-active{
    width: 60px;
    height: 60px;
    border: 2px solid #5396cc;
    border-radius: 50%;
    background-color: white;
    display: flex;
    position: relative;
}
.hobby-icon{
    margin: auto;
}

.hobby-active:after{
    content: "";
    position: absolute;
    top: 27px;
    left: 56px;
    width: 90px;
    height: 1px;
    background-color: #5396cc;
}
.hobby-active:last-child:after{
    display: none;
}

